.ourway__title {
	font-size: 36px;
}
.ourway__description {
	font-size: 18px;
}
.mapArea {
	width: 35rem;
	overflow: hidden;
}
.introduce-images {
	width: 18.75rem;
	overflow: hidden;
	margin-left: 2rem;
}
.theEnd {
	color: #2c4766;
	font-weight: bold;
	font-size: 22px;
}
