.blog-image {
  object-fit: cover;
  height: 20rem;
}

.blog--image-title {
  max-width: 13rem;
  padding-left: 0.5rem;
  color: white;
  text-transform: uppercase;
  margin-top: 0.5rem;
}

/* .blog--image-introduce {
  margin-left: 1vw;
} */

.calender-table {
  background: rgb(220, 220, 220);
  text-align: center;
}

.col > a {
  font-size: 1.5rem;
  color: white;
}

.calender-table:hover {
  background-color: rgba(130, 195, 73, 1);
}
.link-bottom {
  color: #000000;
}

.title-bottom-1 {
  color: #ffffff;
  background-color: rgb(62, 197, 62);
  width: 80%;
}

.title-bottom-2 {
  color: #ffffff;
  background-color: rgb(60, 60, 202);
  width: 80%;
}

.title-bottom-3 {
  color: #ffffff;
  background-color: rgb(114, 146, 250);
  width: 80%;
}
