.custom-div {
  height: 100rem;
  overflow: auto;
}
.DIY__buttonArea {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.DIY__buttonArea-link {
  margin: 1rem 2rem;
}
.DIY__buttons {
  position: relative;
  width: 20rem;
  height: 20rem;
  overflow: hidden;
}
.DIY__buttons-left {
  margin-left: auto;
}
.DIY__buttons-right {
  margin-right: auto;
}
.buttons__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.buttons__text {
  color: white;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}

/* DIY- theme selected */
.diy__sidebar {
  width: 20%;
}
.sidebar-calender {
  margin-right: 1rem;
}

/* DIY detail */
.mainContent {
  width: 79%;
}
.mainContent__image {
  height: 12rem;
  width: 12rem;
  object-fit: cover;
}

.download__button {
  border-radius: 1rem;
}
@media (min-width: 992px) {
  .mainContent__image {
    height: 25rem;
    width: 25rem;
  }
}
@media (max-width: 991px) {
  .DIY__buttons {
    width: 15rem;
    height: 15rem;
  }
  .buttons__text {
    font-size: 1.5rem;
  }
  .diy__sidebar {
    width: 20%;
  }
}
@media (max-width: 426px) {
  .DIY__buttonArea {
  }
  .DIY__buttons {
    width: 100%;
    height: 10rem;
    font-size: 1rem;
  }
  .diy__sidebar {
    width: 100%;
    margin-bottom: 4rem;
  }
  .sidebar-calender {
    margin-right: 0rem;
  }
  .socialNetwork {
    position: fixed;
    bottom: 1rem;
  }
  .mainContent {
    width: 100%;
  }
  .mainContent__image {
    height: 10rem;
    width: 10rem;
  }
}
