.green-background {
  background: rgb(131, 196, 81);
}

.images-product {
  width: 100%;
  height: 100%;
  height: 15rem;
  object-fit: cover;
}
.btn:focus,
a:focus {
  outline: none;
  box-shadow: none !important;
}
.carousel-products {
  background-color: white;
  border-radius: 20px;
  height: 9rem;
  width: 9rem;
  object-fit: contain;
}

.carousel-product-title {
  padding-top: 2rem;
  text-align: center;
  font-size: 3rem;
}
.nextButton-product,
.previousButton-product {
}

.button--next-previous-product {
  background: transparent;
  border: none;
  width: 5rem;
}
.button--next-previous-product:focus {
  outline: none !important;
}
