.background-65 {
  width: 65%;
  margin: auto;
}

.underline-color {
  border-bottom: 1px solid rgba(230, 86, 37, 1);
}

.card {
  border: none !important;
}
.moi-circle-position {
  position: absolute;
  top: 10%;
  right: 7%;
}
.moi-circle {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: #fff;
  line-height: 3rem;
  text-align: center;
  background-color: rgba(230, 86, 37, 1);
  text-transform: uppercase;
}

.viet-phan-hoi-button {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.25rem 1rem;
  margin-bottom: 0.5rem;
  background-color: white;
}
