/* UPDATE: */
.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  top: 3rem;
  width: 100vw;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 1%;
}
.dropdown-content a {
  color: rgb(110, 110, 110);
  padding: 2px 0;
  text-decoration: none;
  display: block;
  font-family: "Lato-Light";
}
/*thêm css ở trên vào php*/
a:hover {
  text-decoration: none;
}
ul {
  padding: 0;
}
.btn--dangky-ngay1:hover {
  color: rgba(44, 70, 102, 1) !important;
}
.btn--dangky-ngay2:hover {
  color: rgba(130, 195, 73, 1) !important;
}
.btn--dangky-ngay3:hover {
  color: rgba(44, 70, 102, 1) !important;
}
/* Introduce part */
.circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  text-align: center;
  background: #2c4666;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.carousel-indicators {
  margin-right: 1rem !important;
  justify-content: flex-end !important;
}

.brand-images {
  height: 9.375rem;
}
.card-images {
  max-height: 50%;
}
.pricing {
  min-width: 3rem;
  font-size: large;
}

.decoration-background-border-radius {
  text-decoration: none !important;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  margin-left: 0.5rem;
}

.facebook-hover:hover {
  background-color: #4267b2 !important;
  color: white;
}
.youtube-hover:hover {
  background: #ff0000 !important;
  color: white;
}
.instagram-hover:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  ) !important;
  color: white;
}
.decoration-background {
  text-decoration: none !important;
  color: rgb(110, 110, 110);
  margin-left: 1.5rem;
}
.decoration-background:hover {
  color: black;
}

.navbar-text-color {
  color: rgb(110, 110, 110);
}

.best-solution {
  position: absolute;
  width: 7rem;
  height: 7rem;
  top: -2rem;
  right: -1rem;
  z-index: 1;
}

.process-area {
  width: 100%;
}
.text-khachhangnoigivewowpik {
  margin: 5rem 0 0;
  font-size: 3rem;
  width: 50%;
}

.professor-area {
  background: url(/assets/images/professor-background.png) no-repeat center
    center;
  background-size: cover;
}
.text-khachhangnoive {
  width: 50%;
  margin: auto;
}
.circle-margin-custom {
  margin: auto;
}
.image--gia-tri-nhan-duoc {
  width: 100%;
}

/*===========SERVICE=========== */
.image-carousel-banner {
  min-height: 40vh;
  max-height: 50vh;
  object-fit: cover;
}
.service-contact-title {
  padding-top: 4rem;
  font-size: 4vw;
  color: rgb(45, 70, 100);
}
.service-contact-circle {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  margin-bottom: 2rem;
  background-color: white;
}
.service-contact-logo {
  height: 10rem;
}
.service-contact-logo-absolute {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.service-contact-text {
  text-align: left;
  margin: 0 auto;
  width: 60%;
}
.service-register-free {
  border: 2px solid rgb(130, 190, 80);
  border-radius: 2rem;
  width: 12rem;
  line-height: 2.5rem;
}
.service-free-absolute {
  position: absolute;
  top: 70%;
  right: 10%;
}
.register-now-area {
  position: absolute;
  top: 30%;
  right: 20%;
}
.register-now-title {
  color: rgb(45, 73, 103);
  font-weight: bolder;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.register-now-button {
  line-height: 4rem;
  width: 20rem;
  background-color: rgb(230, 85, 37);
  border-radius: 0.75rem;
  margin-bottom: 2rem;
  font-size: 1rem;
}
.register--inForm-Button {
  line-height: 4rem;
  width: 20rem;
  border-radius: 0.75rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  color: black !important;
}

.service-takecare-toys {
  background-color: rgb(130, 195, 80);
}
.service-takecare-toys-circle {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.service-takecare-circle-text {
  color: white;
  margin: 0 auto;
  text-align: left;
  width: 70%;
  margin-left: 0px;
  height: 11rem;
}
.takecare-1st-column {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}
.promotion-circle {
  position: absolute;
  transform: translateY(-150%);
  left: 2rem;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background: rgba(40, 60, 85, 0.95);
  text-align: center;
}
#promotion-circle-text {
  line-height: normal;
  display: inline-block;
  transform: translateY(37%);
  color: white;
  width: 70%;
  font-size: 1.4rem;
}
.service-promotion-text {
  width: 90%;
}
.introduce-area {
  padding: 0 4rem;
  background-color: rgb(240, 240, 240);
}

.introduce-circle {
  max-width: 10rem;
  max-height: 10rem;
  width: 10rem;
  height: 10rem;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
  margin: 0 auto 1rem;
}

.takecare-wowpik-area {
  width: 90%;
  margin: auto;
}
.footer-alink-style {
  color: black;
}

.absolute-text-right {
  position: absolute;
  text-align: right;
  width: 10rem;
  left: -11rem;
}

.hr {
  width: 70%;
  border-bottom: 2px solid black;
}
.footer__hr {
  width: 100%;
  border-bottom: 2px solid black;
}
.list-style-none {
  list-style: none;
}

.background-green {
  background: rgba(130, 195, 73, 1);
  margin-bottom: 1.5rem;
}
.background-green-opacity {
  background: rgba(130, 195, 73, 0.2);
  margin-bottom: 1.5rem;
}
.background-blue {
  background: rgba(44, 70, 102, 1);
  margin-bottom: 1.5rem;
}
.background-blue-opacity {
  background: rgba(44, 70, 102, 0.3);
  margin-bottom: 1.5rem;
}
.background-red {
  background: #e65625;
  margin-bottom: 1.5rem;
}
.background-red-opacity {
  background: rgba(230, 86, 37, 0.3);
  margin-bottom: 1.5rem;
}

.button--next-previous {
  background: transparent;
  border: none;
  width: 3rem;
}
.button--next-previous:focus {
  outline: none !important;
}
.button--next-previous-clients {
  background: transparent;
  border: none;
  width: 5rem;
}
.button--next-previous-clients:focus {
  outline: none !important;
}

.image--logo-style {
  width: 30%;
  opacity: 50%;
}

.slick-slide:focus {
  outline: none !important;
}

.national-div {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  border-radius: 50%;
  box-shadow: -1px 1px black;
}

.carousel-toys-index {
  background-color: white;
  border-radius: 50%;
  height: 12.5rem;
  width: 12.5rem;
  object-fit: contain;
}
.carousel-clients-index {
  border-radius: 50%;
  height: 30%;
  width: 30%;
  object-fit: contain;
}

.khampha-text-btn {
  max-width: 400px;
}

.khampha-batngo-text {
  width: 100%;
  margin: 0 auto 1rem;
  font-size: 3rem;
}
.yyw-font {
  font-size: 2.5rem;
}
.free-section-index {
  padding: 0.5rem 0;
  border-radius: 1rem;
  color: white;
  margin: 0 2rem;
}
.hr-mienphi {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 20%;
  border: 1px solid rgba(130, 195, 73, 1);
}

.gia-tri-title2 {
  font-size: 3rem;
}
.gia-tri-title {
  font-size: 3rem;
  padding-top: 10%;
}
.gia-tri-nhan-duoc {
  background: url(/assets/images/background-cloud-blue.png) no-repeat;
  background-size: cover;
}
.gia-tri-card-title {
  border-radius: 20px;
}
.gia-tri-card-text {
  width: 90%;
  color: white;
}
.cung-wowpik-button {
  border-radius: 20px;
  color: white;
}
.cung-wowpik-text {
  width: 75%;
  text-align: left;
}
.khampha-banner {
  position: absolute;
  top: 25%;
  left: 10%;
}
.text-index-banner {
  color: white;
  font-size: 3vw;
  max-width: 25vw;
}

.btn--khampha-banner-service {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 192px;
  height: 48px;
  background-color: rgba(230, 86, 37, 1);
  font-size: 1rem;
  color: white;
  border-radius: 20px;
  padding: 3%;
}
.btn--khampha-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 192px;
  height: 48px;
  background-color: rgba(130, 195, 73, 1);
  font-size: 1rem;
  color: white;
  border-radius: 20px;
  padding: 3%;
}
.float-buttons {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
.messenger-float-icon {
  color: #0084ff;
}
.zalo-svg {
  width: 2rem;
  height: 2rem;
  background: white;
  border-radius: 20px;
}

@media (min-width: 992px) {
  .list-style-none {
    list-style: none;
    padding: 0;
  }
  .logo-style {
    margin-right: -1.5rem;
  }
}
@media (min-width: 1250px) {
  .logo-style {
    margin-right: 4rem;
  }

  .navbar-text {
    font-size: 1.2rem;
  }
}
@media (min-width: 1368px) {
  /* Button + Text ở banner index */
  .khampha-banner {
    position: absolute;
    top: 20%;
    left: 8%;
  }
}

@media (max-width: 1199px) {
  .khampha-batngo-text {
    width: 100%;
    margin: 0;
    font-size: 3rem;
  }
  .free-section-index {
    padding: 0.5rem 0;
    border-radius: 1rem;
    margin: 0;
  }

  .service-takecare-toys-circle {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-bottom: 0px;
  }
  .service-takecare-circle-text {
    color: white;
    margin: auto;
    text-align: left;
    padding: 0;
    margin-left: 0;
  }
  .promotion-circle-margin {
    margin-right: 1rem;
  }
}
@media (max-width: 1000px) {
  /* Button + Text ở banner index */
  .decoration-background {
    margin-left: 0rem;
  }
  .card {
    margin: auto;
  }
  .discovery-surprise {
    width: 90%;
    margin: auto;
  }
  .service-contact-logo-absolute {
    position: absolute;
    top: 55%;
    right: -1.5rem;
    transform: translateY(-50%);
  }
  .promotion-circle-margin {
    margin: auto;
  }
  .service-promotion-text {
    width: 70%;
    margin: auto;
    text-align: center;
    margin-bottom: 1rem;
  }
  .service-takecare-circle-text {
    text-align: left;
    width: 100%;
    height: 11rem;
    margin-bottom: 6rem;
  }
  .footer-items {
    margin: 0;
  }
  .footer-logo-middle {
    text-align: center;
  }
  .introduce-circle {
    max-width: 7rem;
    max-height: 7rem;
    width: 7rem;
    height: 7rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    margin: 0 auto 1rem;
  }
  .register-now-area {
    position: absolute;
    top: 30%;
    right: 10%;
  }
}
@media (max-width: 991px) {
  .gia-tri-title {
    font-size: 2rem;
    padding-top: 10%;
  }
  .free-button-media {
    margin: 0 auto 0.5rem;
    padding: 0 20%;
  }
  .media-text-right {
    text-align: right;
  }
  .circle-margin-custom {
    margin: 0 0 0.75rem auto;
  }
  .absolute-text-right {
    text-align: left;
    width: 10rem;
    left: 1rem;
  }
  .image--gia-tri-nhan-duoc {
    width: 40%;
  }
}
@media (max-width: 575px) {
  .service-contact-logo-absolute {
    position: absolute;
    top: 95%;
    right: 50%;
    transform: translateX(50%);
  }
  .service-gift-margin-under575px {
    margin-bottom: 2rem;
  }
  .service-takecare-toys-circle {
    margin: auto;
  }
  .service-takecare-circle-text {
    text-align: center;
    width: 70%;
    margin: auto;
  }
  .register-now-area {
    position: absolute;
    top: 25%;
    right: 5%;
  }
  .register-now-title {
    color: rgb(45, 73, 103);
    font-weight: bolder;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .register-now-button {
    line-height: 2.5rem;
    width: 11rem;
    background-color: rgb(230, 85, 37);
    border-radius: 0.75rem;
    margin-bottom: 0.5rem;
    font-size: small;
  }
  .index-pricing-wow {
    width: 30%;
    margin-left: auto;
  }
}

/* Static Css */
footer {
  width: 90%;
  margin: auto;
}
@font-face {
  font-family: "VL BoosterNextFYBlack";
  src: url("/assets/@font-face/VLBoosterNextFY-Black.eot");
  src: url("/assets/@font-face/VLBoosterNextFY-Black.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/@font-face/VLBoosterNextFY-Black.woff2") format("woff2"),
    url("/assets/@font-face/VLBoosterNextFY-Black.woff") format("woff"),
    url("/assets/@font-face/VLBoosterNextFY-Black.ttf") format("truetype"),
    url("/assets/@font-face/VLBoosterNextFY-Black.svg#VLBoosterNextFY-Black")
      format("svg");
  font-weight: 900;
  font-style: normal;
}
.font-VLBoosterNextFYBlack {
  font-family: "VL BoosterNextFYBlack" !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.color-245x3 {
  background-color: rgb(245, 245, 245);
}
.color-green-main {
  color: rgba(130, 195, 73, 1);
}
.color-red-main {
  color: rgba(230, 86, 37, 1);
}
.color-blue-main {
  color: rgba(44, 70, 102, 1);
}

.page-link {
  border: none !important;
  color: black !important;
}
.text--hover-bold:hover,
.text--hover-bold:active,
.text--hover-bold:focus {
  font-weight: bold;
}

/* Navbar */

.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: static;
  display: inline-block;
}

/* Change color of dropdown links on  */
.dropdown-content a:hover {
  font-weight: bold;
  text-decoration: underline;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
#gocchiase:hover {
  font-weight: bold;
}
.circle-navbar-gocchiase {
  width: 5rem;
  height: 5rem;
  margin: auto;
  border-radius: 50%;
  background: rgb(181, 180, 180);
}

.search--input-navbar {
  display: none;
  border: none;
  border-bottom: 0.5px solid black;
  outline: none;
}

/* Slick Arrow */
.product__slider__arrow {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  background: white;
  display: grid;
  place-items: center;
  z-index: 2;
}
.product__slider__arrow--left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.product__slider__arrow--right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

/* Mới */
.header--container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  z-index: 99;
}
.header--actions {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
@media (max-width: 992px) {
  .header--actions {
    flex-direction: column;
  }
}
.header__links {
  flex-grow: 1;
}
.header__social__search {
  flex-basis: 45%;
  flex-shrink: 0;

  display: flex;
  justify-content: space-between;
}
.header__social {
  display: flex;
}

.header__searchIcon {
  display: grid;
  place-items: center;
}

#logo-style {
  width: 5rem;
}

.header__link {
  /* letter-spacing: 0.5px; */
  text-transform: uppercase;
  margin: 0 0.5px;
}
/* .header__link:hover {
  letter-spacing: 0px;
  font-weight: bold;
} */

.header__link:hover::after {
  content: "";
  font-weight: bold;
}
.header--social {
  display: flex;
  align-items: center;
}
