
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <!-- FontAWESOME -->
  <script src="https://kit.fontawesome.com/39619ca06c.js" crossorigin="anonymous"></script>

  <!-- Slick Css -->
  <!-- Add the slick-theme.css if you want default styling -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <!-- Add the slick-theme.css if you want default styling -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <!-- CustomCSS -->
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/product.css">

  <title>Document</title>
</head>

<body>

<div class="header--container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.html">
      <img src="./assets/images/logo.png" alt="logo" srcset="" id="logo-style" />
    </a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <!-- Trong collapse -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="header--actions">

        <div class="header__links">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="header__link nav-link navbar-text navbar-text-color" href="#">đồ chơi</a>
            </li>
            <li class="nav-item">
              <a class="header__link nav-link navbar-text navbar-text-color" id="gocchiase" href="#">Góc chia sẻ</a>
            </li>
            <li class="nav-item">
              <a class="header__link nav-link navbar-text navbar-text-color" id="gocchiase" href="#">Góc chia sẻ</a>
            </li>
          </ul>
        </div>

        <div class="header__social__search">
          <div class="d-flex">
            <a href="{{ url('dang-nhap')  }}" class="text-uppercase navbar-text flex-shrink-0">Hội viên</a>
            <form id="search-form" action="{{ url('tim-kiem') }}" class='d-flex'>
              <i class="fas fa-search fa-lg btn header__searchIcon" id="search-icon" aria-hidden="true"></i>
              <input class="rounded-0 bg-light d-inline-block search--input-navbar" id="search-input" type="text" name="q"
                value="" placeholder="Tìm kiếm" />
              <select class="rounded-0 d-inline-block search--input-navbar bg-light" id="select-input" name="loai">
                <option selected>Selected</option>
              </select>
            </form>
          </div>

          <div class="header--social">
            <div class="">
              <a href="https://m.facebook.com/WOWPIK/?tsid=0.6413269024575472&source=result" target="_blank"
                class="decoration-background-border-radius facebook-hover d-flex justify-content-center align-items-center">
                <i class="fab fa-facebook-f" style="line-height: normal !important;font-size:0.9rem"></i>
              </a>
            </div>
            <div class="">
              <a href="https://instagram.com/wowpik.vn?igshid=89e5i7jwruwu" target="_blank"
                class="decoration-background-border-radius instagram-hover d-flex justify-content-center align-items-center">
                <i class="fab fa-instagram" style="line-height: normal !important;font-size:0.9rem">
                </i>
              </a>
            </div>
          </div>
        </div>
        <!-- <script type="text/javascript">
                $(document).ready(function () {
                  // @if (!request() -> get('q'))
                    $("#search-icon").click(function () {
                      $('#search-input').slideToggle()
                      $('#select-input').slideToggle()
                    })
                  // @endif
                })
              </script> -->
      </div>
    </div>
    <!-- Trong collapse -->
  </nav>
  <div style="height: 100vh;background-color: rgb(220,220,220);">

  </div>
</div>


</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>




</html>
